# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env
*.log
.pipenv

# Solidity
contracts/build/
*.bin
*.abi

# Genel
.DS_Store
*.swp
*.swo
*.bak
*.tmp
dist/
build/
coverage/

# Render
render.yaml.local

# Hassas dosyalar
private.pem
public.pem
cert.pem
key.pem


